SELECT
    time_bucket('{{.TimeBucket}}', "time") AS "time",
    AVG({{.ColumnName}}),
    MIN({{.ColumnName}}),
    MAX({{.ColumnName}})
FROM
    sensors.vantagepro2plus
WHERE
    "time" > NOW() - INTERVAL '{{.LookbackInterval}}'
GROUP BY
    1
ORDER BY
    1